a{
    color: inherit;
}

/* START PAGE */

.game-heading{
    margin: 150px 0;
    text-align: center;
    font-size: 150px;
}

.play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 200px;
    border: none;
    background-color: transparent;
    border-radius: 20px;
}

.play-button:hover{
    background-color: #6dd7fd;
    transition: background-color 0.5s ease-in-out;
}

/* ************************************************************************** */

/* MAIN PAGE */

.lives-area{
    margin: 20px;
    display: flex;
    height: 100px;
}

.guess-letters-area{
    margin: 150px 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 70%
}

.underline{
    font-size: 36px;
}

.hangman-area{
    font-size: 36px;
}

.wrong-area{
    font-size: 26px;
    font-weight: bold;
    color: red;
    text-shadow: 0 0 2px #000;
}

.wrong-area-paragraph{
    font-size: 22px;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    background-color: white;
    border: 5px solid black
}

.hidden{
    display: none;
}

.modal button{
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
}

.modal button:hover{
    background-color: #6dd7fd;
    transition: background-color 0.5s ease-in-out;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.keyboardArea{
    width: 50%;
}
.virtual-letter{
    cursor: pointer;
    font-size: 20px;
    width: 50px;
    height: 50px;
}